/* Alex Code Section */























/* End Alex Code Section */

/* ================================================== */

/* Erica Code Section */


.nav-item {
    padding: 30px 30px!important;
}
#previous, #next, #pause {
    color: black;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    border-color: lightgray;
    margin: 5px 5px;
}
#previous:hover, #next:hover, #pause:hover {
    color: lightGrey;
}
body {
    background-image: url(../../images/nasaBack.jpg);
    width: auto;
}
























/* End Erica Code Section */

/* ================================================== */

.show {
    display: block;
}
.hide {
    display: none;
}
.big-box {
    margin: 1%;
    padding: 1%;
    border: solid 1pt black;
}
.small-box {
    margin: 1%;
    padding: 1%;
    border: solid 1pt black;
}
.image {
    width: 100%;
    height: auto;
    z-index: -1;
}
.local-modal {
    width: 75%;
    height: auto;
    padding: 2.5%;
}
.local-modal-inner {
    margin: 25%;
}
.local-modal-results {
    width: auto;
}